/*events.html*/
#mainSearch {
	margin-top: 10%;
}

#mainSearch input[type=text] {
	font-size: 30px;
	text-align: center; 
	width: 300px;
	height: 50px;
}

/*eventList.html*/
.sourceImage {
	width: 30px;
}