<div class="container event-list">
  <div class="event-filter">

    <div class="input-group">
      <input ng-model="searchText" class="form-control" placeholder="Filter by...">
      <span class="input-group-btn">
        <button ng-click="widgetView = true" class="viewToggle hvr-fade btn btn-secondary" type="button">Widget View</button>
        <button ng-click="widgetView = false" class="viewToggle hvr-fade btn btn-secondary" type="button">List View</button>
      </span>
    </div>

    <div id="category-container">
      <span ng-repeat="category in categories" ng-click="searchCategory(category)" class="e_categories label label-default">{{category}}</span>
      <div style="clear: both;"></div>
    </div>

  <!-- ---------------------------- POTENTIALLY REMOVE---------------------------- -->
      <div id="distance-filter">
        Showing results within <select ng-model="selectedDistance" ng-init="selectedDistance = distances[1]" ng-options="x for x in distances" ng-change="logDistance()"></select>
      </div>
  </div>
  <!-- ------------------------------POTENTIALLY REMOVE------------------------ -->

  <div ng-repeat="entry in eventsByDate" class="date row">
    <h1 ng-show="entry.events.length">{{entry.date | date: "EEEE, MMMM d"}}</h1>
    <event-widget ng-show="widgetView" ng-repeat="event in entry.events | filter:searchText" ></event-widget>
    <event-list ng-show="!widgetView" ng-repeat="event in entry.events | filter:searchText" ></event-list>

<!--     <div ng-repeat="event in entry.events | filter:searchText" class="event-container center-block row animated slideInUp">

      <div class="col-sm-2 event-left">
        <img class="event-image img-rounded" ng-src="{{ checkImage(event.e_sourceImage) }}">
        <p class="e_venue text-primary">{{event.e_location.venue_name}}</p>
        <p class="e_location text-muted">{{event.e_location.address}}</p>
      </div>

      <div class="col-sm-8 event-main">
        <a href="{{event.e_url}}"><h2 class="e_title">{{event.e_title}}</h2></a>
        <div class="categories-list">
          <span ng-repeat="category in event.e_categories" ng-click="searchCategory(category)" class="hvr-hang e_categories label label-default">{{category}}</span>
        </div>
        <p class="e_description text-info"><a href="{{event.e_url}}">See full event details HERE.</a></p>
      </div>

      <div class="col-sm-2 event-right">
        <h5 class="e_time">{{event.e_time | date: "EEEE ' at ' h:mm a"}}<br><small>{{event.e_cost}}</small></h5>
        <a href="{{event.e_url}}"><img class="e_sourceImage img-rounded" ng-src="{{ getSourceImage(event.e_source)}}"></a>
      </div>

    </div> -->

  </div>

</div>

<div class="container">
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; HackStr33tBoys 2016</p>
      </div>
    </div>
  </footer>
</div>